td{
  padding-top: 0rem!important;
  padding-bottom: 0rem!important;
  font-size: 0.5rem;
}

th{
  padding-top: 0rem!important;
  padding-bottom: 0rem!important;
}

.slot{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray;
}

.slot-used{
  background-color: #c4bcb1;
}

div:slot(n+2) {
    margin-left: -1px;
}

@keyframes colorChange {
    0%{fill:#ff0000}
    50%{fill:#000}
    100%{fill: #ff0000}
}
.box {
    width:200px;
    height:200px;
    animation: colorChange 3s infinite;
}

.pen {
  stroke-dasharray: 2;
  animation: dash 30s linear;
}

@keyframes dash  {
  to {
    stroke-dashoffset: 1000;
  }
}

.init-a{
  width: 100%;
  position: absolute;
  height: 5px;
  background-color: dodgerblue;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loader-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
