<!-- <div style="width: 100%; height : 700px"> -->

<div class="row">
  <div class="col-md-7" style="display: grid">
    <ngx-graph
      class="chart-container"
      [view]="[900, 800]"
      [links]="links"
      [nodes]="nodes"
      [curve]="curve"
      [animate]="true"
      [update$]="update$"
    >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label">
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.width"
          [attr.rx]="node.dimension.width"
          [attr.ry]="node.dimension.width"
          [attr.fill]="node.color"
        />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>
    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line"
          stroke-width="2"
          [attr.stroke]="link.color"
          marker-end="url(#arrow)"></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%"
          >
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
    </ngx-graph>
  <!-- </div> -->
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="iniciarSimulacion()">Simular</button>
      </div>
      <div class="col-md-6" *ngIf="demand">
        Demanda Actual - De:{{demand.from}} A:  {{demand.to}}
      </div>
      <div class="col-md-12">
        <table  class="table">
          <thead>
            <th width="10%">Enlace</th>
            <th width="90%">Estado</th>
          </thead>
          <tbody>
            <tr *ngFor="let l of links">
              <td>{{l.id}}</td>
              <td>
                <div *ngFor="let slot of l.spectrum" [ngClass]="!slot ? 'slot' : 'slot slot-used'"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
