td{
  padding-top: 0.25rem!important;
  padding-bottom: 0.25rem!important;
}

.slot{
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid gray;
}

.slot-used{
  background-color: #c4bcb1;
}

div:slot(n+2) {
    margin-left: -1px;
}

@keyframes colorChange {
    0%{fill:#ff0000}
    50%{fill:#000}
    100%{fill: #ff0000}
}
.box {
    width:200px;
    height:200px;
    animation: colorChange 3s infinite;
}

.pen {
  stroke-dasharray: 5;
  animation: dash 30s linear;
}

@keyframes dash  {
  to {
    stroke-dashoffset: 1000;
  }
}
